{% load static %}
<style>
    ul {
        list-style: none;
    }

    .shadow-top {
        box-shadow: 0px -14px 15px -3px rgba(0, 0, 0, 0.1);
    }
</style>
<footer class="shadow-top bg-white rounded pt-3 mt-5">
    <div class="row ">
        <div class="col-4">
            <ul class="d-flex align-items-center flex-column">
                <li>
                    <p class="fw-bold fs-5">اطلاعات تماس</p>
                </li>
                <li>
                    <p>تماس با پشتیبانی: 05123456789</p>
                </li>
                <li>
                    <p>ایمیل:info@onlineStore.com</p>
                </li>
                <li>
                    <p>آدرس: مشهد، بلوار سجاد، بزرگمهر 5 پلاک 32</p>
                </li>
                <li class="d-flex align-items-center flex-column">
                    <p class="fw-bold fs-5">شبکه های اجتماعی</p>
                    <ul class="d-flex align-items-center gap-3">
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-telegram"></i></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="d-flex align-items-center flex-column">
                <li>
                    <p class="fw-bold fs-5">فروشگاه اینترنتی آنلاین استور</p>
                </li>
                <li>
                    <ul class="d-flex align-items-center flex-column">
                        <li><p>از جدیدترین اخبار ما باخبر شوید</p></li>
                        <li>
{#                            <form class="d-flex">#}
{#                                <input type="text" class="form-control" style="width: 15rem;"#}
{#                                       placeholder=" شماره تلفن خود را وارد نمایید">#}
{#                                <button class="button-edit py-2 px-3 text-light">ارسال</button>#}
{#                            </form>#}
                        </li>
                        <li>
                            <ul class="d-flex align-items-center flex-row">
                                <li>
                                    <img src="{% static 'footer/logo.png' %}">
                                </li>
                                <li>
                                    <img src="{% static 'footer/logo (1).png' %}">
                                </li>
                                <li></li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="d-flex align-items-center flex-column">
                <li><p class="fw-bold fs-5">دسترسی سریع</p></li>
                <li><p>درباره ما</p></li>
                <li><p>قوانین مرجوعی</p></li>

            </ul>
        </div>

    </div>
    <div class="row">
        <p class="text-center">
            تمامی حقوق مادی و معنوی این سایت متعلق به فروشگاه اینترنتی آنلاین استور می باشد
        </p>
    </div>
</footer>