.dropdown-toggle {
    background-color: transparent;
    border: 0;
    outline: 0;
}

.dropdown-toggle::after {
    display: none;
}

.mosh {
    position: relative;
}

.mosh::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #7f2c70;
    width: 23%;
    /* margin-left: 15px; */
    top: 95%;
    right: 0;

}
@media (max-width: 767.98px) {
    .custom-fixed-bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .custom-fixed-bottom {
      position: static;
    }
  }
