* {
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: 'Vazir';
}

body {
    /*direction: rtl;*/
    overflow-x: hidden;
}

nav ul ul {
    display: none;
    z-index: 100000;
}

nav ul li:hover > ul {
    display: block;
    text-align: right;

}

nav ul {
    background: #ffffff;
    /*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
    padding: 0 20px;
    list-style: none;
    position: relative;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: right;
    position: relative;
    font-weight: bold;
    box-sizing: border-box;
}

nav ul li:hover {
    background: #e8d3e4;
    border: 1px solid #7f2c70;
}

nav ul li:hover a {
    color: #7f2c70;


}

nav ul li a {
    display: block;
    padding: 15px 32px;
    color: #7f2c70;
    text-decoration: none;
}

nav ul ul {
    background: #ffffff;
    /*border: 1px solid #7f2c70;*/
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
}

nav ul ul li {
    float: none;
    /*border-top: 1px solid #7f2c70;*/
    /*border-bottom: 1px solid #7f2c70;*/
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #7f2c70;
}

/*nav ul ul li a:hover {*/
/*    border: 1px solid #7f2c70;*/
/*}*/

nav ul ul ul {
    position: absolute;
    right: 100%;
    top: 0;
}

.btn-Purple {
    background-color: #ebc3ee;
    outline: none;
    border: 0;
    color: white;
    padding: 8px;
    width: 70px;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.btn-Purple:hover {
    background-color: #d95ec4;
}

.search-box {
    width: 45rem;
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 6px 10px;
}

.search-box > input {
    outline: none;
    border: none;
    width: 100%;
    background-color: #f3f3f3;
}

.search-box button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.logo {
    font-size: 0;
    background-size: contain;
    width: 3.80rem;
    height: 3.80rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../media/extra/Screenshot__259_-removebg-preview.png");
}

.text-dark-purple {
    color: #7f2c70;
}

.button-dark-purple {
    background-color: #cc067d;
    outline: none;
    border: 0;
    color: white;
    padding: 8px;
    width: 70px;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.button-dark-purple:hover {
    background-color: #ff81d1;

}

#cart {
    position: relative;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


#box-cart {
    display: none;
    position: absolute;
    top: 70px;
    left: 60px;
    overflow-x: hidden;
    background-color: #ffffff;
    padding: 10px 20px;

    border: 1px solid #ccc;
    z-index: 100000;
    width: 320px;
    height: 350px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.cart-container:hover #box-cart {
    display: flex;
}

.btn-pay {
    border: 0;
    outline: none;
    background-color: transparent;
}

.bg-discount {
    background-color: #dc0345;
    position: absolute;
    left: 0;
    top: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;

}

.flex-column {
    margin-right: 7px;
    text-align: right;
}

.flex-row-reverse {
    margin-right: 12px;
    text-align: right;
}
footer> ul{
    list-style: none;
}
.button-edit{
  background-color: #0A1D56;
  border: none;
  outline: none;
}