{% extends '_base.html' %}
{% load static %}
{% load  humanize %}

{% block title %}
    محصولات{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">


        {% if products %}

            <div class="d-flex align-items-top flex-row-reverse justify-content-between ">
                <div class="col-9 d-flex align-items-center ">
                    <div class="row">
                        <form method="get" action="" novalidate name="sort_product" class="d-flex align-items-center">
                            <input class="border-0 outline-0  mx-2" type="submit" name="sort" id="expensive"
                                   style="background-color: white"
                                   value="گران ترین">
                            <input class="border-0 outline-0  mx-2" type="submit" name="sort"
                                   style="background-color: white"
                                   value="ارزان ترین">
                            <input class="border-0 outline-0 d-md-flex d-lg-flex d-none  mx-2" type="submit"
                                   style="background-color: white"
                                   name="sort"
                                   value="پرتخفیف ها">

                            <input class="border-0 outline-0 d-md-flex d-lg-flex d-none  mx-2" type="submit"
                                   style="background-color: white"
                                   name="sort"
                                   value="جدیدترین ها">
                            <span class="mx-2 d-flex d-md-none d-lg-none" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal"
                                  style="cursor: pointer">فیلتر </span>

                        </form>
                        <p>{{ len_products }} کالا </p>
                        {#                    <div class="d-flex flex-row-reverse align-items-center justify-content-between">#}
                        {#                        #}
                        {#                    </div>#}
                        {% for product in products %}
                            <div class="col-4 card"  {% if product.is_available == 'false' %} style="opacity: 0.8"
                            {% endif %}>

                                {#                                <p>{{ product.is_available }}</p>#}
                                <a href="{% url 'products:details' product.id product.slug %}">
                                    <img src="{{ product.image.url }}" height="280px" width="280px">
                                    <p>{{ product.name }}</p>
                                    <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                            {% if product.discount %}
                                                <p class="text-secondary">{{ product.price | intcomma }} تومان </p>
                                                <span class="text-danger fw-bold"
                                                      style="font-size: 18px">   {{ product.after_discount | intcomma }}  تومان </span>
                                            {% else %}
                                                <p>{{ product.price | intcomma }} تومان </p>
                                            {% endif %}
{#                                            {% if product.variant.discount %}#}
{#                                                <p class="text-secondary">{{ product.variant.price | intcomma }} تومان </p>#}
{#                                                <span class="text-danger fw-bold"#}
{#                                                      style="font-size: 18px">   {{ product.variant.after_discount | intcomma }}  تومان </span>#}
{#                                            {% else %}#}
{#                                                <p>{{ product.variant.price | intcomma }} تومان </p>#}
{#                                            {% endif %}#}
                                        </div>
                                        <div>
                                            {% if product.discount %}
                                                <p class="discount"> % {{ product.discount }}</p>
                                            {% endif %}
                                        </div>
                                        {#                                    </div>#}
                                </a>
                            </div>

                            {#                                    مشاهده محصول#}





                            </div>
                        {% endfor %}

                    <div class="row d-flex align-items-center">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div aria-label="Page navigation example">
                                <ul class="pagination mt-4">
                                    {% if products.has_next %}
                                        <li class="page-item"><a class="page-link  text-dark"
                                                                 href="?page={{ products.next_page_number }}&{{ url_data }}">بعدی</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link text-dark"
                                                                          href="#">بعدی</a></li>
                                    {% endif %}
                                    <li class="page-item text-dark-purple"><a class="page-link"
                                                                              href="#">{{ products.number }}</a>
                                    </li>
                                    {% if products.has_previous %}
                                        <li class="page-item"><a class="page-link text-dark"
                                                                 href="?page={{ products.previous }}&{{ url_data }}">قبلی</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link text-dark"
                                                                          href="#">قبلی</a></li>

                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 90vh" class="col-4 col-md-2  border rounded px-4 py-2">
                <div class="row d-flex align-items-center flex-column">
                    <h5 class="mt-3">فیلترها</h5>
                    <form method="get" novalidate action="">
                        <p>{{ filters.form.brand }}</p>
                </div>
                <div>
                    از<input class="form-control" type="text" name="price1" placeholder="قیمت">
                    تا<input class="form-control" type="text" name="price2" placeholder=" قیمت">
                </div>
                <br>
                <div class="">

                    {#                    {{ filters.form.available }}#}
                    {#                    <label for="available">فقط محصولات موجود</label>#}
                    <br>
                    <button type="submit" class="button-dark-purple">اعمال</button>
                    </form>
                </div>
            </div>
            </div>
            </div>

        {% else %}
            <div class="row mt-5" style="height: 40vh">
                <div class="col-12 flex-column d-flex align-items-center justify-content-center">
                    <h2 class="fs-2 fw-bold">404</h2>
                    <h4 class="text-dark-purple fw-bold">محصول مورد نظر یافت نشد</h4>

                </div>
            </div>
        {% endif %}


{% endblock %}

{% block js %}
    <script src="{% static 'products/javaScript.js' %}"></script>
{% endblock %}