{% extends '_base.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}
{% block title %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-around gap-4" style="height: 90vh">
        <div class="nav flex-column rounded nav-pills me-3 border" id="v-pills-tab" style="height: 50vh" role="tablist"
             aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home"
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">حساب کاربری
            </button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile"
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">آدرس ها
            </button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-messages"
                    type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">نظرات
            </button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings"
                    type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">محصولات
                موردعلاقه
            </button>

            <button class="nav-link" id="v-pills-seen-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-seen"
                    type="button" role="tab" aria-controls="v-pills-seen" aria-selected="false">بازدیدهای اخیر
            </button>

            <button class="nav-link" id="v-pills-paid-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-paid"
                    type="button" role="tab" aria-controls="v-pills-paid" aria-selected="false">تاریخچه خریدها

            </button>
            <a href="{% url 'accounts:Logout' %}" class="align-center text-center">
                خروج
            </a>
        </div>
        <div class="tab-content" id="v-pills-tabContent" style="width: 60rem;height: 80vh">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                 aria-labelledby="v-pills-home-tab"
                 tabindex="0">
                <div class="border py-3 px-2 rounded">
                    <h5>حساب کاربری</h5>
                    <hr>
                    <form class="d-flex flex-column justify-content-center align-items-center  "
                          method="get" novalidate action=""
                          style="width: 100%">


                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="first-name" class="form-label">نام</label>
                                <input name="first-name" disabled value="{{ form.instance.first_name }}" type="text"
                                       class="form-control" id="first-name">
                            </div>
                            <div class="col-md-12">
                                <label for="last-name" class="form-label"> نام خانوادگی </label>
                                <input name="last-name" disabled value="{{ form.instance.last_name }}" type="text"
                                       class="form-control" id="last-name">
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="phone_number" class="form-label"> شماره تماس </label>
                                <input type="text" disabled value="{{ form.instance.phone_number }}" name="phone_number"
                                       class="form-control" id="phone_number">
                            </div>
                            <div class="col-md-6">
                                <label for="birthday" class="form-label">تاریخ تولد</label>
                                <input name="birthday" disabled value=" {% if form.instance.birthday == None %}
                                {% else %}{{ form.instance.birthday }} {% endif %}" type="text"
                                       class="form-control" id="birthday">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="email" class="form-label">ایمیل</label>
                                <input type="email" disabled
                                       value="{% if form.instance.email == None %}   {% else %} {{ form.instance.email }}{% endif %}"
                                       class="form-control"
                                       id="email">
                            </div>
                        </div>
                        <div class="row">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 15rem;"
                                    type="button" class="button-edit rounded py-2 text-light">ویرایش اطلاعات کاربری
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                 tabindex="0">
                <div class="row border rounded py-3 px-2" style="height: 60vh;overflow-y: scroll">
                    <div class="col-12 mb-0 d-flex align-items-start justify-content-between">
                        <h5 class="fw-bold">آدرس ها </h5>
                        <a href="{% url 'accounts:address' %}" class="button-edit px-3 text-light py-2 rounded"
                        >اضافه کردن آدرس
                        </a>
                    </div>
                    <hr>
                    <div class="col-12">
                        {% for ad in address %}
                            {#                        <div class="d-flex flex-row ">#}
                            <div class="col-12 flex-row d-flex justify-content-between flex-row">
                                <div>
                                    <p class="fw-bold">{{ ad.formatted_address }}</p>
                                    <div class="d-flex flex-column">
                                        <small class=" text-secondary">{{ ad.state }}</small>
                                        <small class=" text-secondary">{{ ad.neighbourhood }}</small>
                                        <small class=" text-secondary">{{ ad.plaqe }}</small>
                                        <small class=" text-secondary">{{ ad.floor }}</small>
                                        <small class=" text-secondary">{{ ad.postal_code }}</small>
                                    </div>
                                </div>
                                <div class="mx-4">
                                    <div class="dropdown">
                                        <a class=" dropdown-toggle" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"
                                                   href="{% url 'accounts:removeAddress' ad.id %}">حذف</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div>
                </div>

            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
                 tabindex="0">
                <div class="row">
                    <h5>نظرات </h5>
                    <hr>
                    {% for comment in comments %}
                        <a href={{ comment.product.get_absolute_url }}>
                            <div class="col-12  rounded d-flex align-items-center justify-content-between">
                                <div class="col-4">
                                    <p>{{ comment.product.name }}</p>
                                </div>
                                <div class="col-4">
                                    <p>{{ comment.body }}</p>
                                </div>
                                <div class="col-4">
                                    <p>{% if  comment.accepted == False %}
                                        <span class="">در انتظار تایید</span> {% else %}
                                        <span class="text-success">تایید شده </span>{% endif %}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                 tabindex="0">
                <h5>محصولات مورد علاقه</h5>
                <hr>
                <div class=" d-flex flex-row justify-content-center gap-1 align-items-start">

                    {% if likes %}
                        {% for like in likes %}
                            {% if like.product %}
                                <div class="col-4 border rounded d-flex flex-column justify-content-between align-items-center "
                                     style="min-height: 32em">
                                    <img src="{{ like.product.image.url }}">
                                    <div class="d-flex align-items-center flex-column">
                                        <p>{{ like.product.name }}</p>
                                        {% if like.product.discount %}
                                            <p class="text-danger">{{ like.product.price | intcomma }}تومان </p>
                                            <p>{{ like.product.after_discount | intcomma }} تومان </p>
                                        {% else %}
                                            <p>{{ like.product.price | intcomma }}تومان </p>
                                        {% endif %}

                                    </div>

                                    <a class="button-edit text-light py-2 mb-2 px-2 rounded"
                                       href="{% url 'cart:addCart' like.product.id like.product.slug %}">افزودن به سبد
                                        خرید</a>
                                    <a class="" href="{% url 'products:removelikeProduct' like.id %}"><i
                                            class="fa-solid fa-trash"></i></a>
                                </div>
                            {% endif %}
                            {% if like.variant %}
                                <div class="col-4  border rounded d-flex flex-column justify-content-between align-items-center"
                                     style="min-height: 32em;">
                                    <img src="{{ like.variant.product.image.url }}">
                                    <div class="d-flex align-items-center flex-column">
                                        <p>{{ like.variant.product.name }}</p>
                                        {% if like.variant.discount %}
                                            <p class="text-danger">{{ like.variant.price | intcomma }}تومان </p>
                                            <p>{{ like.variant.after_discount | intcomma }} تومان </p>
                                        {% else %}
                                            <p>{{ like.variant.price | intcomma }}تومان </p>

                                        {% endif %}

                                    </div>
                                    <a class="button-edit text-light py-2 mb-2 px-2 rounded"
                                       href="{% url 'cart:addVariantCart' like.variant.id %}">افزودن به سبد خرید</a>
                                    <a class="" href="{% url 'products:removelikeProduct' like.id %}"><i
                                            class="fa-solid fa-trash"></i></a>
                                </div>

                            {% endif %}






                        {% endfor %}
                    {% else %}
                        <div class="d-flex flex-column my-5 align-items-center justify-content-center">
                            <h4 class="fw-bold">شما هیچ محصولی به علاقه مندی ها اضافه نکرده اید.</h4>
                            <p>(:</p>

                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-seen" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                 tabindex="0" style="height: 80vh;overflow-y: scroll;overflow-x: hidden">
                <h5>بازدید های اخیراً</h5>
                <hr>
                <div class=" d-flex flex-column align-items-center justify-content-center gap-1 align-items-start">
                    {% if history_seens %}
                        <div class="row d-flex align-items-center justify-content-center">
                            {% for seen in history_seens %}
                                {% if seen.product %}
                                    <div style="min-height: 30em"
                                         class="col-3 border rounded d-flex flex-column justify-content-between align-items-center ">
                                        <img src="{{ seen.product.image.url }}" height="280px" width="280px">
                                        <div class="d-flex align-items-center flex-column">
                                            <p>{{ seen.product.name }}</p>
                                            {% if seen.product.discount %}
                                                <p class="text-danger">{{ seen.product.price | intcomma }}تومان </p>
                                                <p>{{ seen.product.after_discount | intcomma }} تومان </p>
                                            {% else %}
                                                <p>{{ seen.product.price | intcomma }}تومان </p>
                                            {% endif %}

                                        </div>

                                        <a class="button-edit text-light py-2 mb-2 px-2 rounded"
                                           href="{% url 'cart:addCart' seen.product.id seen.product.slug %}">افزودن به
                                            سبد
                                            خرید</a>
                                    </div>
                                {% endif %}
                                {% if seen.variant %}
                                    <div class="col-4  border rounded d-flex flex-column justify-content-between align-items-center"
                                         style="">
                                        <img src="{{ seen.variant.product.image.url }}">
                                        <div class="d-flex align-items-center flex-column">
                                            <p>{{ seen.variant.product.name }}</p>
                                            {% if seen.variant.discount %}
                                                <p class="text-danger">{{ seen.variant.price | intcomma }}تومان </p>
                                                <p>{{ seen.variant.after_discount | intcomma }} تومان </p>
                                            {% else %}
                                                <p>{{ seen.variant.price | intcomma }}تومان </p>

                                            {% endif %}

                                        </div>
                                        <a class="button-edit text-light py-2 mb-2 px-2 rounded"
                                           href="{% url 'cart:addVariantCart' seen.variant.id %}">افزودن به سبد خرید</a>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div aria-label="Page navigation example">
                                <ul class="pagination mt-4">
                                    {% if history_seens.has_next %}
                                        <li class="page-item"><a class="page-link  text-dark"
                                                                 href="?page={{ history_seens.next_page_number }}&{{ url_data }}">بعدی</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link text-dark"
                                                                          href="#">بعدی</a></li>
                                    {% endif %}
                                    <li class="page-item text-dark-purple"><a class="page-link"
                                                                              href="#">{{ history_seens.number }}</a>
                                    </li>
                                    {% if history_seens.has_previous %}
                                        <li class="page-item"><a class="page-link text-dark"
                                                                 href="?page={{ history_seens.previous }}&{{ url_data }}">قبلی</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link text-dark"
                                                                          href="#">قبلی</a></li>

                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex flex-column my-5 align-items-center justify-content-center">
                            <h4 class="fw-bold">شما از محصولات ما تا به حال دیدن نکرده اید.</h4>
                            <p>(:</p>

                        </div>
                    {% endif %}


                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-paid" role="tabpanel" aria-labelledby="v-pills-exit-tab"
                 tabindex="0" style="height: 80vh;overflow-y: scroll;overflow-x: hidden">
                <div class="row">
                    <div class="col-8 ">
                        <h5>تاریخچه ی خریدها</h5>
                    </div>
                    <hr>
                </div>
                {% if order_histories %}
                    {% for order in order_histories %}
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed gap-5 d-flex align-items-center justify-content-between"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse-{{ order.id }}" aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                        <p>{{ order.created | jformat:'%Y/%m/%d' }}</p>

                                        <p>{{ order.buy| intcomma }} تومان </p>
                                    </button>
                                </h2>
                                {% for item in order.order_order_items.all %}
                                    <div id="flush-collapse-{{ order.id }}" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="d-flex align-items-center gap-2 justify-content-between align-items-start">
                                                {% if item.product %}
                                                    <div class="col-3">
                                                        <img src="{{ item.product.image.url }}" height="80px"
                                                             width="120px">
                                                    </div>
                                                    <div class="col-3">
                                                        <p>{{ item.product.name }}</p>

                                                    </div>
                                                    <div class="col-3">
                                                        <p>{{ item.quantity }}</p>

                                                    </div>
                                                    <div class="col-3">
                                                        <p>{{ item.price | intcomma }} تومان </p>

                                                    </div>

                                                {% elif item.variant %}
                                                    <div class="col-3">
                                                        <img src="{{ item.variant.image.url }}" height="80px"
                                                             width="120px">
                                                    </div>
                                                    <div class="col-3">
                                                        <p>{{ item.variant.product.name }}</p>
                                                    </div>
                                                    <div class="col-3">
                                                        <p>{{ item.quantity }}</p>
                                                    </div>
                                                    <div class="col-3">

                                                        <p>{{ item.variant.price | intcomma }} تومان </p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                    {% endfor %}
                {% else %}
                    <div class="d-flex flex-column my-5 align-items-center justify-content-center">
                        <h4 class="fw-bold">شما تا به حال خریدی از فروشگاه ما نداشته اید.</h4>
                        <p>(:</p>

                    </div>
                {% endif %}

            </div>
        </div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">ثبت اطلاعات شناسایی </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" novalidate action="">
                        {% csrf_token %}
                        {#                        {{ form.as_p }}#}
                        <label for="phone_number" class="form-label"> شماره تماس </label>
                        <input type="text" disabled value="{{ form.instance.phone_number }}" name="phone_number"
                               class="form-control" id="phone_number">

                        <label for="first-name" class="form-label">نام</label>
                        <input name="first_name"
                               value="{% if form.instance.first_name == None %} {% else %} {{ form.instance.first_name }}{% endif %}"
                               type="text"
                               class="form-control" id="first_name">


                        <label for="last_name" class="form-label"> نام خانوادگی </label>
                        <input name="last_name"
                               value="{% if form.instance.last_name == None %} {% else %} {{ form.instance.last_name }}{% endif %}"
                               type="text"
                               class="form-control" id="last_name">

                        <label for="birthday" class="form-label">تاریخ تولد</label>
                        <input name="birthday"
                               value="{% if form.instance.birthday == None %} {% else %} {{ form.instance.birthday }}{% endif %}"
                               type="text" data-jdp
                               class="form-control" id="birthday">


                        <label for="email" class="form-label">ایمیل</label>
                        <input type="text"
                               value="{% if form.instance.email == None %}   {% else %} {{ form.instance.email }}{% endif %}"
                               class="form-control"
                               id="email">
                        <br>
                        <button type="submit" class="button-edit rounded py-2 text-light">ثبت اطلاعات</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#    modal address #}

    <div class="modal fade" id="exampleModaladdress" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">آدرس را از روی نقشه انتخاب نمایید</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="map" style="height:400px;width:100%"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="get" action="{% url 'accounts:address' %}" novalidate>
                        <button type="submit" class="btn-Purple">تایید ادرس</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#    </div>#}

{% endblock %}


{#</div>#}
{% block js %}
    <script src="{% static 'accounts/javaScripts.js' %}"></script>
{% endblock %}