{% extends '_base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
     <div class="container">
      <div class="login__form">
        <div class="login__form__img">
          <img
            src="../../../media/login/backlogin.jpg" alt=""
          />
        </div>
        <div class="login__form__right">
            <p></p>
          <p class="fw-bold" style="color: #7f2c70">کد به شماره ی {{ phone_number }} ارسال شد</p>
          <form action=""  method="post" novalidate>
              {% csrf_token %}
            <input type="text" name="code" id="input-tel" />
            <button class="submit-btn" type="submit" style="background:#7f2c70" >ادامه</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}