{% extends '_base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
     <div class="container">
      <div class="login__form">
        <div class="login__form__img">
          <img
            src="../../../media/login/backlogin.jpg" alt=""
          />
        </div>
        <div class="login__form__right">
          <h1 style="color: #7f2c70">ورود /ثبت نام</h1>
          <form action=""  method="post" novalidate>
              {% csrf_token %}
            <label for="input-username" style="color: #7f2c70;">شماره همراه خود را وارد کنید</label>
            <input type="text" name="phone_number" id="input-tel" />
            <button class="submit-btn" type="submit" style="background:#7f2c70" >ادامه</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}