{% extends '_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {% for b in banners %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ b.image.url }}" style="height: 70vh" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% if request.user.is_authenticated %}
        <p class="fs-5 fw-bold align-content-sm-start px-3">پیشنهاد
            برای شما</p>
        <div class="row  d-flex align-items-center">
            <div class="owl-carousel-1 owl-carousel owl-theme">
                {% for p in Proposal %}
                    <div class="item">
                        <a href={{ p.get_absolute_url }}>
                            <div class="d-flex align-items-center gap-3 justify-content-center flex-column  card py-4"
                                 style="min-height: 30em;">
                                <div class="bg-discount float-left text-light px-2">{% if p.discount %}%{{ p.discount }}
                                    -
                                {% endif %}</div>
                                <img src="{{ p.image.url }}" width="40%">
                                <small>{{ p.name }}</small>
                                {% if  p.discount %}
                                    <p class="text-light-emphasis "> {{ p.price | intcomma }} تومان </p>
                                    <p class="text-danger">  {{ p.after_discount | intcomma }} تومان </p>
                                {% else %}
                                    <p class="text-light-emphasis"> {{ p.price | intcomma }} تومان </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <p class="fs-5 px-4 fw-bold align-content-sm-start">
        جدیدترین محصولات
        </p>
        <div class="row  d-flex align-items-center">
            <div class="owl-carousel-1 owl-carousel owl-theme">
                {% for p in new_products %}
                    <div class="item">
                        <a href={{ p.get_absolute_url }}>
                            <div class="d-flex align-items-center gap-3 justify-content-center flex-column  card py-4"
                                 style="min-height: 30em;">
                                <div class="bg-discount float-left text-light px-2">{% if p.discount %}%{{ p.discount }}
                                    -
                                {% endif %}</div>
                                <img src="{{ p.image.url }}" width="40%">
                                <small>{{ p.name }}</small>
                                {% if  p.discount %}
                                    <p class="text-light-emphasis "> {{ p.price | intcomma }} تومان </p>
                                    <p class="text-danger">  {{ p.after_discount | intcomma }} تومان </p>
                                {% else %}
                                    <p class="text-light-emphasis"> {{ p.price | intcomma }} تومان </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}



    {% for cat in FirstCategory %}
        <p class=" fw-bold fs-5 px-3 " style="">{{ cat.name }}</p>
        <div class="row">
            {% for cat2 in cat.sub_category.all %}
                <div class="col d-flex align-items-center flex-column">
                    <a href="{% url 'products:products' cat2.id cat2.slug %}"><img src="{{ cat2.image.url }}"
                                                                                   width="150px" height="150px"></a>
                    <p>{{ cat2.name }}</p>
                    <p class="text-light-emphasis">&nbsp;</p>
                </div>
            {% endfor %}
        </div>


    {% endfor %}
    <div class="row">
        <p class="fw-bold px-3 fs-5">محصولات ویژه</p>
        <div class="owl-carousel owl-theme">
            {% for s in special_prodocts %}
                <div class="item">
                    <a href={{ s.get_absolute_url }}>
                        <div class="d-flex align-items-center gap-3 justify-content-center flex-column  card py-4">
                            <div class="bg-discount float-left text-light px-2">{% if s.discount %}%{{ s.discount }}-
                            {% endif %}</div>
                            <img src="{{ s.image.url }}" width="40%">
                            <small>{{ s.name }}</small>

                            {% if  s.discount %}
                                <p class="text-light-emphasis "> {{ s.price | intcomma }} تومان </p>
                                <p class="text-danger">  {{ s.after_discount | intcomma }} تومان </p>
                            {% else %}
                                <p class="text-light-emphasis"> {{ s.price | intcomma }} تومان </p>
                            {% endif %}
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>


    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center flex-row">
            {% for bs in seconds_banners %}
                <div class="col-3">
                    <a href="{% url 'products:products_cat' bs.category.id %}">
                        <img src="{{ bs.image.url }}" width="100%" alt="">
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <p class="fw-bold px-3 fs-5">محصولات پر فروش</p>
        <div class="owl-carousel owl-theme">
            {% for bestproduct in Best_selling_products %}
                <div class="item">
                    <a href={{ bestproduct.get_absolute_url }}>
                        <div class="d-flex align-items-center gap-3 justify-content-center flex-column  card py-4"
                             style="min-height: 30em">
                            <div class="bg-discount float-left text-light px-2">{% if bestproduct.discount %}%
                                {{ bestproduct.discount }}-
                            {% endif %}</div>
                            <img src="{{ bestproduct.image.url }}" width="40%">
                            <small>{{ bestproduct.name }}</small>

                            {% if  bestproduct.discount %}
                                <p class="text-light-emphasis "> {{ bestproduct.price | intcomma }} تومان </p>
                                <p class="text-danger">  {{ bestproduct.after_discount | intcomma }} تومان </p>
                            {% else %}
                                <p class="text-light-emphasis"> {{ bestproduct.price | intcomma }} تومان </p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}


            {% for bestvariantproduct in Best_selling_variants %}
                <div class="item">
                    <a href={{ bestvariantproduct.product.get_absolute_url }}>
                        <div class="d-flex align-items-center gap-3 justify-content-center flex-column  card py-4"
                             style="min-height: 30em">
                            <div class="bg-discount float-left text-light px-2">{% if bestvariantproduct.discount %}%
                                {{ bestvariantproduct.discount }}-
                            {% endif %}</div>
                            <img src="{{ bestvariantproduct.image.url }}" width="40%">
                            <small>{{ bestvariantproduct.name }}</small>

                            {% if  bestvariantproduct.discount %}
                                <p class="text-light-emphasis "> {{ bestvariantproduct.price | intcomma }} تومان </p>
                                <p class="text-danger">  {{ bestvariantproduct.after_discount | intcomma }} تومان </p>
                            {% else %}
                                <p class="text-light-emphasis"> {{ bestvariantproduct.price | intcomma }} تومان </p>
                            {% endif %}
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class="row">
            <p class="fw-bold px-3 fs-5">بازدیدهای اخیر</p>
            <div class="owl-carousel owl-carousel-1 owl-theme">
                {% for seenProduct in seen_products %}
                    <div class="item">
                        <a href={{ seenProduct.product.get_absolute_url }}>
                            <div class="d-flex align-items-center gap-3 justify-content-center flex-column border-start  py-4"
                                 style="min-height: 20rem">
                                <div class="bg-discount float-left text-light px-2">
                                    {% if seenProduct.product.discount %}%
                                        {{ seenProduct.product.discount }}-
                                    {% endif %}</div>
                                <img src="{{ seenProduct.product.image.url }}" width="20%">
                                <small>{{ seenProduct.product.name }}</small>
                                {% if  seenProduct.product.discount %}
                                    {{ seenProduct.product.price | intcomma }}
                                    <p class="text-danger">  {{ seenProduct.product.after_discount | intcomma }}
                                        تومان </p>
                                {% else %}
                                    <p class="text-light-emphasis"> {{ seenProduct.product.price | intcomma }}
                                        تومان </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% if count_seen_products > 10 %}
                    <a href="{% url 'accounts:Profile' %}">
                        <div class="d-flex flex-column align-items-center justify-content-center"
                             style="min-height: 20rem">
                            <i class="fa-solid fa-arrow-left fs-1 border border-danger rounded-circle p-4 text-danger d-flex flex-column align-items-center justify-content-center"></i>
                            <p>مشاهده ی همه</p>
                        </div>
                    </a>
                {% endif %}

            </div>
        </div>
    {% endif %}


    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
    {#    <b class="text-secondary align-content-sm-start">#}
    {#        ارزان ترین محصولات</b>#}
    {#    <img src="img/logo.png" width="35px" height="35px">#}
    {#    <br>#}
    {#    <center>#}
    {#        <div class="row">#}
    {#            <div class="col border">#}
    {#                <img src="img/Concealer1.jpg" width="150px" height="150px">#}
    {#                <p>کانسیلر استیکی گلدن رز</p>#}
    {#                <p class="text-light-emphasis">4 رنگ</p>#}
    {#                <b class="text-secondary-emphasis">139,500 تومان</b>#}
    {##}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {##}
    {#            <div class="col border">#}
    {#                <img src="img/mask2.jpg" width="150px" height="150px">#}
    {#                <p>ماسک صورت ورقه ای لوندر بیوآکوا</p>#}
    {#                <p class="text-light-emphasis">مناسب انواع پوست&nbsp;</p>#}
    {#                <b class="text-secondary-emphasis">4,500 تومان</b>#}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {##}
    {#            <div class="col border">#}
    {#                <img src="img/lipstick3.jpg" width="150px" height="150px">#}
    {#                <p>رژ لب مایع مات بیوتی بنفیتس</p>#}
    {#                <p class="text-light-emphasis">3رنگ</p>#}
    {#                <b class="text-secondary-emphasis">66,900 تومان</b>#}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <br>#}
    {#        <br>#}
    {#    </center>#}
    {#    <b class="text-secondary align-content-sm-start">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;محبوب#}
    {#        تریت محصولات</b>#}
    {#    <img src="img/logo.png" width="35px" height="35px">#}
    {#    <br>#}
    {#    <center>#}
    {#        <div class="row ">#}
    {#            <div class="col border">#}
    {#                <img src="img/watersupply1.jpg" width="150px" height="150px">#}
    {#                <p>کرم مرطوب کننده بلوم</p>#}
    {#                <p class="text-light-emphasis">&nbsp;</p>#}
    {#                <b class="text-secondary-emphasis">211,000 تومان</b>#}
    {##}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {##}
    {#            <div class="col border">#}
    {#                <img src="img/lipstick2.jpg" width="150px" height="150px">#}
    {#                <p>رژ لب مات مخملی گلدن رز</p>#}
    {#                <p class="text-light-emphasis">17رنگ</p>#}
    {#                <b class="text-secondary-emphasis">167,400 تومان</b>#}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {##}
    {#            <div class="col border">#}
    {#                <img src="img/EyeShadow3.jpg" width="150px" height="150px">#}
    {#                <p>پالت سایه فیزیشن فرمولا </p>#}
    {#                <p class="text-light-emphasis">&nbsp;</p>#}
    {#                <b class="text-secondary-emphasis">682,500 تومان</b>#}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {#        </div>#}
    {#    </center>#}
    {#    <br>#}
    {#    <br>#}
    {#    <b class="text-secondary align-content-sm-start" style="font-family:'Iranian Sans';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;محصولات#}
    {#        پرفروش&nbsp;</b>#}
    {#    <img src="img/logo.png" width="35px" height="35px">#}
    {#    <br>#}
    {#    <center>#}
    {#        <div class="row ">#}
    {#            <div class="col border">#}
    {#                <img src="img/scrub1.jpg" width="150px" height="150px">#}
    {#                <p>ماسک شکر و روغن آرگان نرم کننده پوست هیدرودرم</p>#}
    {#                <p class="text-light-emphasis">&nbsp;</p>#}
    {#                <b class="text-secondary-emphasis">159,000 تومان</b>#}
    {##}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {##}
    {#            <div class="col border">#}
    {#                <img src="img/Foundation1.jpg" width="150px" height="150px">#}
    {#                <p>کرم پودر مایع فتوفوکوس وت اند وایلد</p>#}
    {#                <p class="text-light-emphasis">4 رنگ</p>#}
    {#                <b class="text-secondary-emphasis">555,750 تومان</b>#}
    {##}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {##}
    {#            <div class="col border">#}
    {#                <img src="img/watersupply2.png" width="150px" height="150px">#}
    {#                <p>سرم آبرسان نوتروژینا</p>#}
    {#                <p class="text-light-emphasis">&nbsp;</p>#}
    {#                <b class="text-secondary-emphasis">599,000 تومان</b>#}
    {#                <button type="submit" class="btn btn-light">افزودن به سبد خرید</button>#}
    {#            </div>#}
    {#        </div>#}
    {#    </center>#}


{% endblock %}

{% block js %}
    <script src="{% static 'home/javascript.js' %}"></script>
{% endblock %}